.menu--icon {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.menu-info--box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 15px;
    min-height: 60px;
}

.menu-title--text {
    font-size: 16px;
    overflow: hidden;
    height: 20px;
    line-height: 16px;
    text-overflow: ellipsis;
}

.menu-garnish--text, .menu-star--text, .menu-author--text {
    font-size: 12px;
}

.menu-garnish--text{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.menu-author--text{
    display: flex;
    line-height: 20px;
    font-size: 10px;
    color: #777777
}

.menu-author--avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.menu-collection--avatar{
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 2.5px;
}

.food-author--text {
    color: #b5b5b5;
}
