@import 'mixins.css';

.categories-select--container {
    margin: 40px 20px;
    width: 100%;
    align-self: stretch;
    overflow-y: auto;
    background-color: white;

    & .confirm--btn {
        width: 100%;
        text-align: center;
        background-color: #1296db;
        color: #ffffff;
        @mixin height-middle 50px;
    }
}

