.nav--wrap{
    padding-top: 10px;
    justify-content: center!important;
}

.nav--box{
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 20px;
    text-align: center;
}

.nav--box.active{
    color: orangered;
    border-bottom: 2px orangered solid;
}

.content--box{
    height: 100%;
}

.image--wrap{
    display: inline-block;
    width: 33%;
    height: 33vw;
    overflow: hidden;
}

.product--image{
    width:100%;
}
