@import 'text.css';

.ingredient--title {
    margin-bottom: 20px;
}

.ingredient--content {
    font-size: 14px;
    color: #444444;
    margin: 10px 40px 10px 0;
    justify-content: space-between;

}

.author-info--box {
    margin: 20px 20px 0;
}
