.home--page {
    padding: 10px;
    box-sizing: border-box;
}

.search--link {
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    background-color: #eeeeee;
    color: #444444;
    text-align: center;
}

.logo-box--wrap {
    display: flex;
}

.logo--box {
    height: 60px;
    margin: 10px auto 20px;
}

.logo {
    width: 65px;
    height: 60px;
    float: left;
}

.logo--text {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    float: left;
}

.description {
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-top: 20px;
}

.list-masonry::after {
    /* column-count: 2;
    column-gap: 10px;
    margin: 0 10px;
    font-size: 14px; */
}

.item-masonry {
    background-color: #fff;
    break-inside: avoid;
    box-sizing: border-box;
}

.item {
    margin: 30px 10px;
}

.item-masonry image {
    width: 100%;
}

.cookbook--image {
    width: 100%;
    height: 0;
}
