.navigation--bar {
    padding: 24px 0;
    height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
    background-color: #ffffff;
    z-index: 100;
}

.btns--box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.back--btn {
    margin-right: 10px;
    width: 16px;
}

.back--icon, .create--icon {
    width: 100%;
}

.create--btn {
    width: 24px;
}
