@import 'mixins';

.main-image--box {
    width: 100%;
    height: 250px;
}

.select-image--btn {
    background-color: #f0f0f0;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}

.form-item--box {
    margin: 20px;
    display: flex;
    align-items: center;
}

.form-item--label {
    margin-right: 10px;
    flex-shrink: 0;
}

.title-input--box {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.textarea--box {
    width: 100%;
    white-space: wrap;
    height: 60px;
    font-size: 16px;
}

.add--btn {
    padding: 2px 6px;
    border-radius: 4px;
    text-align: center;
    color: #333333;
    font-size: 14px;
    border: 1px solid #999999;
}

.form-input--box {
    padding: 10px;
    width: 200px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-item--box.category {
    & .list--box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -10px -10px -10px 0;
    }

    & .selected--box {
        position: relative;
        margin: 10px 10px 10px 0;
        padding: 5px;
        border: 1px solid #cccccc;
        border-radius: 8px;
    }

    & .text--box {
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        
    }
    
    & .close--icon {
        position: absolute;
        right: -20px;
        top: -20px;
        width: 16px;
        height: 16px;
        border: 10px solid transparent;
    }
}

.category-select--btn {
    margin: 20px;
    @mixin height-middle 50px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.category-tag--box {
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    background-color: #1296db;
}

.save--btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #1296db;
}
