.search--page {
    height: 100%;
}

.list--box {
    margin: 0 20px 10px 20px;
    overflow: hidden!important;
    height: 100%;
}

.empty-tip--text {
    margin-top: 20px;
    font-size: 14px;
    color: #999999;
}
