@import 'text.css';

.cookbook-image--box {
    max-height: 300px;
    overflow: hidden;
}

.cookbook--image {
    width: 100%;
}

.cookbook-title--box {
    width: 100%;
}

.cookbook--title {
    margin: 10px 40px 30px 40px;
    line-height: 32px;
    font-size: 22px;
    text-align: center;
    color: #444444;
}

.tip--box{
    margin: 0 20px;
}

.tip--name {
    margin: 20px 0;
}

.step--image {
    width: 100%;
    border-radius: 5px;
}

.tip--description {
    font-size: 14px;
    color: #444444;
    margin: 20px 0;
    line-height: 22px;
    white-space: pre-wrap
}
